<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container card-sh"
			style="margin-top: 70px; margin-bottom: 30px">
			<div class="col-md-12 p-5">
				<p class="fs-3 text-center mt-1">Product Details</p>
				<div class="row">
					<div class="col-md-6 text-end">
						<img src="/img/product_img/laptop.jpg" width="330px"
							height="400px">
					</div>
					<div class="col-md-6">
						<p class="fs-3 mt-3">[[${product.title}]]</p>
						<p>
							<span class="fw-bold">Description</span><br>[[${product.description}]]
						</p>
						<p>
							<span class="fw-bold">Product Details:</span><br>Status: 
							<th:block th:if="${product.stock>0}">
							<span
								class="badge bg-success">Available</span> 
							</th:block>
							
							<th:block th:unless="${product.stock>0}">
							<span
								class="badge bg-warning">Out Of Stock</span> 
							</th:block>
							<br>Category:[[${product.category}]]<br>
							Policy: 7 Days Replacement & Return<br>
							<br> <span class="fw-bold fs-5">Price:&nbsp; &nbsp; &nbsp; &nbsp;<i class="fas fa-rupee-sign"></i>.[[${product.discountPrice}]]</span>
							<span class="fs-6 text-decoration-line-through text-secondary fw-bold">[[${product.price}]]</span> <span class="fs-6 text-success fw-bold">[[${product.discount}]]% off </span><br>
						</p>
						<div class="row">
							<div class="col-md-4 text-danger text-center p-2">
								<i class="fa-solid fa-money-bill-wave"></i>
								<p>Cash On Delivery</p>
							</div>

							<div class="col-md-4 text-danger text-center p-2">
								<i class="fa-solid fa-rotate-left"></i>
								<p>Return Available</p>
							</div>

							<div class="col-md-4 text-danger text-center p-2">
								<i class="fa-solid fa-truck"></i>
								<p>Free Delivery</p>
							</div>
							<th:block th:if="${product.stock>0}">
							<a href="login.jsp" class="btn btn-danger col-md-12">Add To Cart</a>
							</th:block>
							
							<th:block th:unless="${product.stock>0}">
							<a href="#" class="btn btn-warning text-white col-md-12">Out Of Stock</a>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>